.clock-container {
	height: 400px;
	width: 400px;
}

.clock-container .clock-base-border {
	position: relative;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	background-color: #ff9e9e;
	padding: 5% 5% 5% 5%;
	border-radius: 100%;
}

.clock-container .clock-base {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #223480;
	border-radius: 100%;
}

.clock-container .clock-base .clock-center {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 12px;
	height: 12px;
	border: 2px solid #fff;
	background-color: #459cff;
	border-radius: 100%;
	margin-left: -6px;
	margin-top: -9px;
	z-index: 100;
}

.clock-container .clock-base .clock-second-hand {
	position: absolute;
	top: 50%;
	left: 40%;
	outline: 2px solid #d81c7a;
	width: 60%;
	/* animation: test-animate 60s linear 0s infinite; */
	transform-origin: 17%;
	transform: rotate(270deg);
}

/* @keyframes test-animate{
    from {transform: rotate(270deg)}
    to { transform: rotate(624deg)}
} */

.clock-container .clock-base .clock-minute-hand {
	position: absolute;
	top: 50%;
	left: 45%;
	outline: 2px solid #fff;
	width: 45%;
	transform-origin: 12%;
	transform: rotate(270deg);
}

.clock-container .clock-base .clock-hour-hand {
	position: absolute;
	top: 50%;
	left: 45%;
	outline: 2px solid #fff;
	width: 35%;
	transform-origin: 15%;
	transform: rotate(270deg);
}